@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Noto+Serif+Khojki&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Noto Serif Khojki, sans-serif;
    background-color: #f5f5f5;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


.title-text{
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    padding: 22px 0 52px 0;
    color: #3d3d3d;
    font-family: Finger paint, sans-serif;
    
    
}

.text-start{
    letter-spacing: 3px;
    font-size: 40px;
    color: #3d3d3d;
    padding-right: 50px;
}

.start{
    padding-top: 10px;
    text-align: center;
}

.result-text{
    color: #3d3d3d;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    font-size: 50px;
    padding-right: 50px;
}

.section-aginst{
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.player{
    font-weight: 650;
    letter-spacing: 3px;
    color: #3d3d3d;
    font-size: 35px;

}

.button-aginst{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    text-shadow: 7px 7px 9px #0000006c;
    background-color: #a7b6c2;
    width: 160px;
    height: 160px;
    border: 9px solid  #3d3d3d;
    border-radius: 30px;
    font-size: 50px;
}

.choices-option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: -80px;
}

.icon-rpsg{
    padding: 0 35px;
    display: inline;
    
}

.icon-rpsg button{
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    color: #3d3d3d;
    font-size: 50px;
}

.icon-rpsg button:hover{
    transform: scale(1.1);
    text-shadow: 6px 6px 0px #0000006c;
}

.button-options{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: -80px;
}

.button-options li{
    padding: 0 25px;
    display: inline;
}


.restart-button{
    border-radius: 7px;
    padding: 11px 42px;
    border: 3px solid #a7b6c2;
    color: #3d3d3d
    
}

.footer {
    margin-top: 30px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    color: #3d3d3d;
    margin-left: -80px; 
}

.footer h2 {
    margin-top: 10px;
}

.footer p {
    margin-bottom: 20px;
}
/* Media queries */


/* For larger to medium screens size from 390px wide and down */


@media screen and (max-width: 390px) {
     
    .player {
        font-size: 70%;
       
        
    }

    .button-aginst{
        width: 100px;
        height: 100px;
        border: 9px solid  azure;
        border-radius: 30px;
        font-size: 30px;
    }

    .section-aginst{
        padding-left: 20px;
    }


}
