@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Odor+Mean+Chey&display=swap');

*{
    font-family: 'Finger-paint', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.body{
    padding: 0 190px;
    background-color: #b14cb1;
    height: 90vh;
}
