/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Noto+Serif+Khojki&display=swap');




/* Reset default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set body styles */
body {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Noto Serif Khojki, sans-serif;
    background-color: #f5f5f5;
}

/* Remove underline from links */
a{
    text-decoration: none;
}

/* Remove bullet points from unordered lists */
ul{
    list-style: none;
}

/* Set styles for title text */
.title-text{
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    padding: 22px 0 52px 0;
    color: #3d3d3d;
    font-family: Finger paint, sans-serif;
   
   
}

/* Set styles for starting text */
.text-start{
    letter-spacing: 3px;
    font-size: 40px;
    color: #3d3d3d;
    padding-right: 50px;
}

/* Set styles for starting section */
.start{
    padding-top: 10px;
    text-align: center;
}

/* Set styles for result text */
.result-text{
    color: #3d3d3d;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    font-size: 50px;
    padding-right: 50px;
}
/* Set styles for the section showing the two players */
.section-aginst{
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

/* Set styles for player names */
.player{
    font-weight: 650;
    letter-spacing: 3px;
    color: #3d3d3d;
    font-size: 35px;

}

/* Set styles for the button that players click to make their choice */
.button-aginst{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    text-shadow: 7px 7px 9px #0000006c;
    background-color: #a7b6c2;
    width: 160px;
    height: 160px;
    border: 9px solid  #3d3d3d;
    border-radius: 30px;
    font-size: 50px;
}

/* Set styles for the options to choose from */
.choices-option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Set styles for the rock, paper, and scissors icons */
.icon-rpsg{
    padding: 0 35px;
    display: inline;  
}

/* Set styles for the buttons for the rock, paper, and scissors icons */
.icon-rpsg button{
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    color: #3d3d3d;
    font-size: 50px;
}

/* Set styles for the buttons when hovered over */
.icon-rpsg button:hover{
    transform: scale(1.1);
    text-shadow: 6px 6px 0px #0000006c;
}

/* Styles for the buttons container */
.button-options{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for each button */
.button-options li{
    padding: 0 25px;
    display: inline;
}

/* Styles for the restart button */
.restart-button{
    border-radius: 7px;
    padding: 11px 42px;
    border: 3px solid #a7b6c2;
    color: #3d3d3d
   
}

/* Styles for the footer section */
.footer {
    margin-top: 30px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    color: #3d3d3d;
    margin-left: -80px;
}

.footer h2 {
    margin-top: 10px;
}

.footer p {
    margin-bottom: 20px;
}
/* Media queries */

/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .title-text {
      font-size: 40px;
      padding: 10px 0 30px 0;
    }
  
    .text-start {
      font-size: 20px;
      padding-right: unset;
    }
  
    .result-text {
      font-size: 30px;
      padding-right: unset;
    }
  
    .player {
      font-size: 15px;
    }
  
    .button-aginst {
      width: 90px;
      height: 90px;
      font-size: 30px;
      border-width: 5px;
    }
  
    .icon-rpsg {
      padding: 0 20px;
    }
  
    .icon-rpsg button {
      font-size: 30px;
    }
  
    .button-options li {
      padding: 0 10px;
    }
  
    .restart-button {
      padding: 7px 30px;
    }

    .footer {
        margin-left: 0;
        font-size: 12px;
      }
  }
  
  /* For screens between 600px and 900px */
  @media only screen and (min-width: 600px) and (max-width: 900px) {
    .title-text {
      font-size: 60px;
      padding: 15px 0 40px 0;
    }
  
    .text-start {
      font-size: 30px;
      padding-right: unset;
    }
  
    .result-text {
      font-size: 40px;
      padding-right: unset;
    }
  
    .player {
      font-size: 30px;
    }
  
    .button-aginst {
      width: 120px;
      height: 120px;
      font-size: 40px;
      border-width: 7px;
    }
  
    .icon-rpsg {
      padding: 0 25px;
    }
  
    .icon-rpsg button {
      font-size: 40px;
    }
  
    .button-options li {
      padding: 0 20px;
    }
  
    .restart-button {
      padding: 9px 36px;
    }

    .footer {
        margin-left: 0;
      }
  }
  
  /* For screens larger than 900px */
  @media only screen and (min-width: 900px) {
    .title-text {
      font-size: 80px;
      padding: 22px 0 52px 0;
    }
  
    .text-start {
      font-size: 40px;
      padding-right: unset;
    }
  
    .result-text {
      font-size: 50px;
      padding-right: unset;
    }
  
    .player {
      font-size: 35px;
    }
  
    .button-aginst {
      width: 160px;
      height: 160px;
      font-size: 50px;
      border-width: 9px;
    }
  
    .icon-rpsg {
      padding: 0 35px;
    }
  
    .icon-rpsg button {
      font-size: 50px;
    }
  
    .button-options li {
      padding: 0 25px;
    }
  
    .restart-button {
      padding: 11px 42px;
    }

    .footer {
        margin-left: 0;
      }
  }
  
  
  